{% extends 'base.html' %}
{% block content %}
 <!-- Shoping Cart Section Begin -->
 <section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              {% if address_objs %}
                <div class="shoping__cart__table">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Country</th>
                            <th scope="col">Street</th>
                            <th scope="col">City</th>
                            <th scope="col">State</th>
                            <th scope="col">Zip</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            
                          </tr>
                        </thead>
                        <tbody>
                        {% for address_obj in address_objs %}
                          <tr>
                           
                            <td>{{address_obj.first_name}}</td>
                            <td>{{address_obj.last_name}}</td>
                            <td>{{address_obj.country}}</td>
                            <td>{{address_obj.address_name}}</td>
                            <td>{{address_obj.city}}</td>
                            <td>{{address_obj.state}}</td>
                            <td>{{address_obj.zip}}</td>
                            <td>{{address_obj.phone}}</td>
                            <td>{{address_obj.email}}</td>
                            <form action="{% url 'deleteaddress' %}" method="POST">
                              {% csrf_token %}
                              <input type="hidden" value="{{address_obj.id}}" name="id">
                            <td><button type="submit"><i class="fa-solid fa-trash" style="cursor: pointer;"></i></button></td>
                            </form>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                </div>
                {% else %}
                <a href="{% url 'address' %}" style="padding: 10px 20px; background-color: #7fad39; border: none; color: white;">Create a new address</a>
                {% endif %}
            </div>
        </div>
        
    </div>
</section>
<!-- Shoping Cart Section End -->
{% endblock %}