{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="hero__categories">
                            <div class="hero__categories__all">
                                <i class="fa fa-bars"></i>
                                <span>All Categories</span>
                            </div>
                            <ul>
                                {% for category_obj in category_objs %}
                                <li><a href="{{category_obj.category_name}}">{{category_obj.category_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <br>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                                        {% for product in  latest_productone %}
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{product.product_img.url}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{product.product_title}}</h6>
                                                <span>₹{{product.product_price}}/{{product.product_quantity.product_type}}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                       
                                    </div>
                                    <div class="latest-prdouct__slider__item">
                                        {% for product in  latest_product2 %}
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{product.product_img.url}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6>{{product.product_title}}</h6>
                                                <span>₹{{product.product_price}}/{{product.product_quantity.product_type}}</span>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Sale Off</h2>
                        </div>
                        <div class="row">
                            {% if cat_per_obj %}
                            {% if cat_per_obj.products_category.all %}
                            {% for product in cat_per_obj.products_category.all %}
                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{product.product_img.url}}">
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h6>{{product.product_title}}</h6>
                                        <span>₹{{product.product_price}}/{{product.product_quantity.product_type}}</span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <h3 style="color: red;">No data found</h3>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    {% endblock %}